<h1>Cart Index</h1>

<% if @cart %>
    <%= link_to 'Remove All Items', cart_path(@cart), method: 'delete', data: {confirm: 'OK?'} %>

    <% @cart.cart_items.each do |item| %>
        <%= item.item.name %>
        <%= item.item.price %>
        <%= item.item.description %>
        <%= form_with model: item, local: true do |form| %>
            <%= form.number_field :quantity %>
            <%= form.submit %>
        <% end %>
    <% end %>

    <%= link_to 'Order', edit_cart_path(@cart) %>
<% end %>