<%= form_with(model: current_user, local: true, url: users_mypage_path) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<form action="/users/token" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <script type="text/javascript" src="https://checkout.pay.jp/" class="payjp-button" data-key="<%= ENV['PAYJP_PUBLIC_KEY'] %>" data-on-created="onCreated" data-text="支払う" data-submit-text="支払う" data-partial="true"></script>
  <input type="submit" value="送信する">  
</form>
