<p id="notice"><%= notice %></p>

<%= search_form_for @q, remote: true, id: 'search_category' do |f| %>
  <%= f.select( :sorts, { '並び替え': '', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' }, {data: {local: true}}, { onchange: 'this.form.submit()'}) %>
  <%= f.label :category_id_cont, 'カテゴリー' %>
  <%= f.collection_select :category_id_eq, @categories, :id, :name, {data: {local: true}}, { onchange: 'this.form.submit()'} %>
  <%= f.submit '', :style => 'display: none;' %>
<% end %>

<div class="row">
    <% @products.each do |product| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-title">
          <span class="card-title"><%= product.name %></span>
        </div>
        <div class="card-content">
          <p><%= product.description %></p>
        </div>
        <div class="card-action">
          <%= link_to "Show Product", product_path(product) %>
        </div>
      </div>
    </div>
    <% end %>
</div>

<div class="center">
  <%= paginate @products %>
</div>

<script type="text/javascript">

document.addEventListener('turbolinks:load', function () {
  var elems = document.querySelectorAll('select');
  var instances = M.FormSelect.init(elems, {});
});
</script>
